body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E3E62;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links a:hover {
    color: #ddd;
}

.container {
    margin-top: 5%;
    margin-bottom: 14%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.section {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    /* text-align: center; */
    width: 20%;
    height: 20em;
}

.section img {
    height: 100px;
    width: 100px;
}

.section h2 {
    color: #8b4513;
}

.section p {
    color: #555;
}

.section button {
    background-color: #8b4513;
    color: #fff;
    border: none;
    padding: 10px 20px;
    /* border-radius: 5px; */
    cursor: pointer;
}

.section button:hover {
    background-color: #a0522d;
}



.footer-bottom {
    height: 1.5em;
    text-align: center;
    background-color: #1E3E62;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #444;
}

